.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.HeatmapContainer {
  display: flex;
  max-width: 778px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Heatmap {
  width: 728px;
}
.Filters {
  margin-top: 6px;
  flex-grow: 1;
  max-width: 50px;
  min-width: 50px;
}

.Totals {
  margin-left: auto;
  margin-right: auto;
}

.mt {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
